<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Swimming</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Sexing</string>
	<string>Running</string>
	<string>Boxing</string>
	<string>Basketball</string>
	<string>Vollyball</string>
	<string>Football</string>
	<string>Jumping</string>
</array>
</plist>
